<br>Hi there,
<br>
<br>Your ID has failed our ID verification test. We have blocked your account.
<br>
<br>If you would like to continue using ZIMBOCASH, you will need to either use another existing account or sign up with a different email address.
<br>
<br>
<br>Kind regards
<br><br>The ZIMBOCASH Team
