<#if fullName?has_content><br>Dear ${fullName},<br></#if>
<br>
<p>Your ZIMBOCASH account has been flagged and has been temporarily disabled</p>
<p>Please contact support at <a href="https://t.me/zimbocashsupport/">ZIMBOCASH Support</a></p>
<br>
<br>Kind regards
<br><br>The ZIMBOCASH Team
