<#if fullName?has_content><br>Dear ${fullName},<br></#if>
<br>
<p>We’re just following up on your ZIMBOCASH account – it looks like you started the ID verification process but it got
    interrupted. <br> You’re almost there. Please go onto your account and make sure you upload both your ID and a
    selfie photo.
</p>
<br>
<p>Once you’ve verified your ID, you will receive your ZASH allocation.</p>
<br>
<p>You can log in here: <a href="www.zimbo.cash/login">www.zimbo.cash/login</a></p>
<br>Kind regards
<br><br>The ZIMBOCASH Team
