<#if name?has_content><br>Hi ${name},<br></#if>
<br>Congratulations, in addition to your other rewards, you also got paid 100 ZASH as a First Payment Reward.
<br><br>You can also earn more:
<ul>
    <li><p><strong>First Payment Reward:</strong> 100 ZASH when you pay someone and it's their first time to receive
        payment (when they confirm their ID).</p></li>
    <li><p><strong>Referral Reward:</strong> 40 ZASH when you refer someone and they confirm their ID.</p></li>
    <li><p><strong>Click Reward: </strong>0.4 ZASH for every unique person who clicks your unique link: <a
            href="https://zimbo.cash/${memberID}">https://zimbo.cash/${memberID}</a> (max to 100 clicks).</p></li>
</ul>
<br>
Lots of good news from us!
<br>
<br>
<br>Kind regards
<br><br>The ZIMBOCASH Team
