<#if fullName?has_content><br>Dear ${fullName},<br></#if>
<br>Good news. You just got paid your ${amount} ZASH reward - sign into your ZIMBOCASH wallet to check it out.
<br>
<br><br>Kind regards
<br><br>The ZIMBOCASH Team
