<br>You have requested to change your password.
<br>
<br>To reset your password simply go to the link below and provide a new password.
<br>
<br>
<a href="https://zimbo.cash/verify/${code}">https://zimbo.cash/verify/${code}</a>
<br>
<br>This email verification link is valid for one day.
<br>
<br>If this was not you, you can ignore this email.
<br>
<br>
<br>Kind regards
<br><br>The ZIMBOCASH Team<br>
