<br>To confirm your account, please click on the email verification link below:
<br>
<br>
<a href="https://zimbo.cash/verify/${code}">https://zimbo.cash/verify/${code}</a>
<br>
<br>This email verification link is valid for one day.
<br>
<br>If this was not you, you can ignore this email.
<br>
<br>
<br>Kind regards
<br><br>The ZIMBOCASH Team<br>
