<#if name?has_content><br>Hi ${name},<br></#if>
<br>We confirm that a payment has been made into your account<#if senderName?has_content> from ${senderName}</#if>.
<br>
<br>Transaction detail:
<br>
<br>
<table>
    <tr>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;&bull;&nbsp;&nbsp;&nbsp;&nbsp;Amount:</td>
        <td>&nbsp;&nbsp;${amount} ZASH</td>
    </tr>
    <#if paymentMessage?has_content>

    <tr>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;&bull;&nbsp;&nbsp;&nbsp;&nbsp;Payment Reference:</td>
        <td>&nbsp;&nbsp;${paymentMessage}</td>
    </tr>
</#if>

<tr>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;&bull;&nbsp;&nbsp;&nbsp;&nbsp;Transaction link:</td>
    <td>&nbsp;&nbsp;<a href="https://tronscan.io/#/transaction/${transactionID}">${transactionID}</a>
    </td>
</tr>
<tr>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;&bull;&nbsp;&nbsp;&nbsp;&nbsp;Payment date and time:</td>
    <td>&nbsp;&nbsp;${date}</td>
</tr>
</table>
<br><br>Kind regards
<br><br>The ZIMBOCASH Team
