<#if fullName?has_content><br>Dear ${fullName},<br></#if>
<br>
<p>Your ID has failed our ID verification test. We have blocked your account.</p>
<p>You can transfer any ZASH in your account to an existing verified ZASH account, but only if that account has not yet
    received ZASH from a blocked account before.</p>
<p>To do this, you can log into your account and enter the address you wish to transfer to.</p>
<p>We will be charging a monthly fee of 2.5% on any ZASH that is left in the account.</p>
<br>
<br>Kind regards
<br><br>The ZIMBOCASH Team
