<#if fullName?has_content><br>Hi ${fullName},<br></#if>
<br>
<p>It looks like you didn't submit a valid ID or selfie photo.</p>
<p>Please upload valid documents. </p>
<br>
<br>Kind regards
<br><br>The ZIMBOCASH Team
