<br>Congratulations on joining. It's great to welcome you to our community.
<br><br>When you confirm your ID, you'll receive your sign-up reward.
<br><br>You will also be able to earn more:
<ul>
    <li><p><strong>First Payment Reward:</strong> 100 ZASH when you pay someone and it's their first time to receive
        payment (when they confirm their ID).</p></li>
    <li><p><strong>Referral Reward:</strong> 40 ZASH when you refer someone and they confirm their ID.</p></li>
    <li><p><strong>Click Reward: </strong>0.4 ZASH for every unique person who clicks your unique link: <a
            href="https://zimbo.cash/${memberID}">https://zimbo.cash/${memberID}</a> (max to 100 clicks).</p></li>
</ul>
<br>
Let's create history!
<br>
<br><br>Kind regards
<br><br>The ZIMBOCASH Team
