<br>We confirm that a person whose account was blocked has transferred their ZASH into your account.
<br>
<br>
<table>
    <tr>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;&bull;&nbsp;&nbsp;&nbsp;&nbsp;Amount:</td>
        <td>&nbsp;&nbsp;${amount} ZASH</td>
    </tr>
    <tr>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;&bull;&nbsp;&nbsp;&nbsp;&nbsp;Account number:</td>
        <td>&nbsp;&nbsp;${memberID}</td>
    </tr>
    <tr>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;&bull;&nbsp;&nbsp;&nbsp;&nbsp;Transaction link:</td>
        <td>&nbsp;&nbsp;<a href="https://tronscan.io/#/transaction/${transactionID}">${transactionID}</a>
        </td>
    </tr>
    <tr>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;&bull;&nbsp;&nbsp;&nbsp;&nbsp;Payment date and time:</td>
        <td>&nbsp;&nbsp;${date}</td>
    </tr>
</table>
<br><br>Kind regards
<br><br>The ZIMBOCASH Team
